<main>
  <div>
    <h2>MAIN PAGE</h2>
    <p> Para agregar css styles hay que agregarlos en app/stylesheets/application.bootstrap.scss y agregar el estilo que queramos. Luego hay que compilarlo con yarn build:css y listo!</p>
    
  </div>

</main>